---
import { Image } from "astro:assets";
import campaigns from "../assets/campaigns.png";
import ignite from "../assets/ignite.png";
import merchandise from "../assets/merchandise.png";
import shape from "../assets/shape.png";
import webfront from "../assets/webfront.png";
import reimagine from "../assets/reimagine.png";


import "./benefits.css";
---
<div class="font-okinawa text-neutral-content">
  <h1 class="text-3xl text-center text-nowrap tracking-tight scale-y-150 text-[#5ebbc3] md:text-5xl">
    How can we help?
  </h1>
</div>

<div class="-mt-1">
<div class="grid">
  <div class="container">
    <div class="card">
      <div class="front">
        <Image src={shape} alt="logo">
      </div> <!-- End front -->
      <div class="back">
          <p>
            Let us craft an elevated brand transformation, 
            sculpting a sophisticated identity that 
            elevates your presence in the competitive marketplace.
          </p>
            <button>Read more</button>
      </div> <!-- End back -->
    </div> <!-- End card -->
  </div> <!-- End container -->

  <div class="container">
    <div class="card">
      <div class="front">
        <Image src={ignite} alt="ignite"/>
      </div> <!-- End front -->
      <div class="back">
          <p>
            Ignite interaction and spark loyalty through 
            social spaces that build lasting customer relationships.
          </p>
            <button>Read more</button>
      </div> <!-- End back -->
    </div> <!-- End card -->
  </div> <!-- End container -->

  <div class="container">
    <div class="card">
      <div class="front">
        <Image src={merchandise} alt="merch"/>
      </div> <!-- End front -->
      <div class="back">
          <p>
            Custom-crafted branding solutions designed to 
            connect, engage, and leave a lasting impression.
          </p>
            <button>Read more</button>
      </div> <!-- End back -->
    </div> <!-- End card -->
  </div> <!-- End container -->
<!-- End 1st row -->

<!-- 2nd row -->
  <div class="container">
    <div class="card">
      <div class="front">
        <Image src={campaigns} alt="shape"/>
      </div> <!-- End front -->
      <div class="back">
          <p>
            Strategic, well-crafted campaigns that captivate your 
            audience, drive engagement, and deliver real, measurable 
            results—both online and in person.
          </p>
            <button>Read more</button>
      </div> <!-- End back -->
    </div> <!-- End card -->
  </div> <!-- End container -->

  <div class="container">
    <div class="card">
      <div class="front">
        <Image src={webfront} alt="web"/>
      </div> <!-- End front -->
      <div class="back">
          <p>
            Spark engagement and drive growth with our full-stack custom web design 
            and management services—crafted to captivate, 
            convert, and keep your brand ahead in the digital landscape.
          </p>
            <button>Read more</button>
      </div> <!-- End back -->
    </div> <!-- End card -->
  </div> <!-- End container -->

  <div class="container">
    <div class="card">
      <div class="front">
        <Image src={reimagine} alt="reimagine"/>
      </div> <!-- End front -->
      <div class="back">
          <p>
            Transform your real estate presence with a powerful blend of 
            tailored services to dominate your market.
          </p>
            <button>Read more</button>
      </div> <!-- End back -->
    </div> <!-- End card -->
  </div> <!-- End container -->
</div>


