---
import { Image } from "astro:assets";
import campaigns from "../assets/campaigns.png";
import ignite from "../assets/ignite.png";
import merchandise from "../assets/merchandise.png";
import shape from "../assets/shape.png";
import webfront from "../assets/webfront.png";
import reimagine from "../assets/reimagine.png";


import "./benefits.css";
---
<div class="font-okinawa"><h1 class="text-3xl text-center text-nowrap tracking-tight scale-y-150">How can we help?</h1></div>

<div class="-mt-1">
<div class="grid">
  <div class="container">
    <div class="card">
      <div class="front">
        <Image src={shape} alt="logo">
      </div> <!-- End front -->
      <div class="back">
          <p></p>
            <button>Read more</button>
      </div> <!-- End back -->
    </div> <!-- End card -->
  </div> <!-- End container -->

  <div class="container">
    <div class="card">
      <div class="front">
        <Image src={ignite} alt="ignite"/>
      </div> <!-- End front -->
      <div class="back">
          <p></p>
            <button>Read more</button>
      </div> <!-- End back -->
    </div> <!-- End card -->
  </div> <!-- End container -->

  <div class="container">
    <div class="card">
      <div class="front">
        <Image src={merchandise} alt="merch"/>
      </div> <!-- End front -->
      <div class="back">
          <p></p>
            <button>Read more</button>
      </div> <!-- End back -->
    </div> <!-- End card -->
  </div> <!-- End container -->
<!-- End 1st row -->

<!-- 2nd row -->
  <div class="container">
    <div class="card">
      <div class="front">
        <Image src={campaigns} alt="shape"/>
      </div> <!-- End front -->
      <div class="back">
          <p></p>
            <button>Read more</button>
      </div> <!-- End back -->
    </div> <!-- End card -->
  </div> <!-- End container -->

  <div class="container">
    <div class="card">
      <div class="front">
        <Image src={webfront} alt="web"/>
      </div> <!-- End front -->
      <div class="back">
          <p></p>
            <button>Read more</button>
      </div> <!-- End back -->
    </div> <!-- End card -->
  </div> <!-- End container -->

  <div class="container">
    <div class="card">
      <div class="front">
        <Image src={reimagine} alt="reimagine"/>
      </div> <!-- End front -->
      <div class="back">
          <p></p>
            <button>Read more</button>
      </div> <!-- End back -->
    </div> <!-- End card -->
  </div> <!-- End container -->
</div>


